<div class="post-form">
  <%= form_for(@newPosts) do |f| %>
    <div class="field">
      <div class="control is-expanded">
        <%= f.text_field :content, class: "input", :placeholder => "Ask a question about this job" %>
      </div>
    </div>
    <%= f.hidden_field :job_id, :value => job_id %>
    <div class="field">
      <div class="control">
        <%= f.submit "Post", class: "button is-info" %>
      </div>
    </div>
  <% end %>
</div>
