<div class="comments">
  <p>
    <a href="/user/<%= comment.user.username %>" align = "top" ><strong><%= comment.user.username %></strong></a>
    <small class="faded" style="margin-left: 10px"><%= local_time_ago(comment.created_at) %></small>
    <br>
    <%= comment.body %>
    <br>
    <small><a class="reply_comment">Reply</a></small>
  </p>
</div>