<%= form_with(model: [ post, post.comments.build ], remote: true) do |f| %>
  <article class="media">
    <div class="media-content">
      <div class="field">
        <%= f.hidden_field :user_id, :value => current_user.id %>
        <div class="control is-expanded">
          <%= f.text_field :body, autofocus: false,  placeholder: 'Write a Comment', class: 'input rounded-corners' %>
        </div>
        <div class="control">
          <%= f.submit "Reply", class: "button is-info", style: "display: none" %>
        </div>
      </div>
    </div>
  </article>
<% end %>
