<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.name %></h1>
    <p>
      Another user inputed their rankings for a job you're interested in. Visit uwranks.com to see the updates!
    </p>
  </body>
</html>