<div class="container is-fluid margins">
  <p class="header">Conversations</p>
  <div class="box">
    <h3>Inbox</h3>

    <div class="ui list">
      <div class="item">
        <% @conversations.each do |conversation| %>
          <% if conversation.sender_id == current_user.id || conversation.recipient_id == current_user.id %>
            <% if conversation.sender_id == current_user.id %>
              <% recipient = User.find(conversation.recipient_id) %>
            <% else %>
              <% recipient = User.find(conversation.sender_id) %>
            <% end %>
            <%= link_to recipient.username, conversation_messages_path(conversation)%>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>


  <div class="box">
    <h3>All Users</h3>
    <div class="ui list">
      <% @users.each do |user| %>
        <% if user.id != current_user.id %>
        <div class="item">
          <%= user.username %> <%= link_to 'Send a Message', conversations_path(sender_id: current_user.id, recipient_id: user.id), method: 'post'%>
        </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>