<div class="container is-fluid margins">
  <div class="column">  
    <h3 class="title">Messages</h3>
    <div class="control has-icons-right">
      <%= form_tag(conversations_path, method: :get) do %>
        <%= text_field_tag :user, params[:user], :class => "input is-rounded", :placeholder => "Search For a Conversation"  %>
        <span class="icon is-small is-right">
          <i class="fa fa-search"></i>
        </span>
      <% end %>
    </div>
    <br>
    <div class="box rounded-corners">
      <div class="panel-body">
        <ul>
          <% if (@isSearch  == true) %>
            <% @users.each do |user| %>
              <article class="media">
                <li><%= link_to user.username, messages_path(user_id: user), method: :get %></li>
              </article>
            <% end %>
          <% else %>
            <% @users.each do |user| %>
              <article class="media">
                <li><%= link_to user.opposed_user(current_user).username, messages_path(user_id: user.opposed_user(current_user)), method: :get %></li>
              </article>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>