<div class="container is-fluid margins">
  <div class="column">  
    <h3 class="title">Messages</h3>
    <div class="control has-icons-right">
      <%= form_tag(conversations_path, method: :get) do %>
        <%= text_field_tag :user, params[:user], class: "input", placeholder: "Search For a User to Talk to", id: 'search_user', data: { autocomplete_source: autocompleteUser_path }  %>
        <span class="icon is-small is-right">
          <i class="fa fa-search"></i>
        </span>
      <% end %>
    </div>
    <br>
    <div class="box rounded-corners">
      <div class="panel-body">
        <ul>      
            <% @users.each do |user| %>
              <article class="media">
                <li><%= link_to user.username, messages_path(user_id: user), method: :get %></li>
              </article>
            <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>