<div class="container is-fluid margins">
  <p class="header">Explore</p>
  <div id="jobs">
    <% @jobs.each do |job| %>
      <%= render partial: 'layouts/getRankings', locals: { job: job } %>
    <% end %>
  </div>
  <br>
  <%= will_paginate @jobs %>
</div>
