<div class="container is-fluid margins">
	<p class="header">Help</p>
	<p class="subtitle is-6">
		UW ranks is a site designed to help students share their rankings
		with each other without the hassle of individually emailing each
		other.
	</p>
	<hr>
	<p class="header">Home Feed</p>
	<p>
		After the sign up phase where we asked about how you would rank your jobs,
		we take that info and tell you how other people would rank your jobs. This info
		could help you decide how to rank your jobs if your did not get an offer.
		<br/>
		<br>
		This could also let you gage whether or not to risk ranking a job you did not
		get an offer for.
	</p>
	<hr>
	<p class="header">Explore</p>
	<p>
		Curious to how other people are doing? 
	</p>
	<hr>
	<p class="header">Search</p>
	<p>
		We know you don't want to waste time endlessly scrolling on explore. 
		Filter rankings.
	</p>
	<hr>
	<p class="header">My Rankings</p>
	<p>
		This page is for transferring your ranking details to us.
		<br>
		Search for the job you got a rank / offer for.
		<br>
		Tell us how you would rank it.
		<br>
		We'll handle the rest.
	</p>
</div>