<div class="row">
	<div class="col-xs-12">
		<h2>Home Feeds</h2>
		<% for @p in @posts %>
		<div class="panel panel-default">
			<div class="panel-body">
				<p><%= @p.content %></p>
			</div>
		</div>
		<% end %>
	</div>
</div>