<div class="container is-fluid margins">
  <p class="header">Home Feed</p>
  <% @myRankings.each do |ranking| %>
    <%= render partial: 'layouts/fetchRankings', locals: { :job => ranking.job } %>
  <% end %>
</div>
