<div class="container is-fluid margins">
  <p class="header">Home Feed</p>
  <% if @myRankings.any? %>
    <% @myRankings.each do |ranking| %>
      <%= render partial: 'layouts/getRankings', locals: { :job => ranking.job } %>
    <% end %>
  <% else %>
    <p>This is an empty looking home feed!</p>
    <br>
    <p>Go to your <%= link_to "Rankings", jobs_path %> page to add some jobs</p>
  <% end %>
</div>