<div class="container is-fluid margins">
  <p class="header">Search Results</p>
  <% if @jobs.any? %>
    <div id="jobs">
      <% @jobs.each do |job| %>
        <%= render partial: 'layouts/getRankings', locals: { :job => job } %>
      <% end %>
    </div>
    <br>
    <%= will_paginate @jobs %>
  <% else %>
    <p>Sorry, no results.</p>
  <% end %>
</div>
