<div class="container is-fluid margins">
  <p class="header">Search Results</p>
  <% if @jobs.any? %>
    <% @jobs.each do |job| %>
      <%= render partial: 'layouts/fetchRankings', locals: { :job => job } %>
    <% end %>
  <% else %>
    <p>Sorry, no results.</p>
  <% end %>
</div>
