<div class="row">
	<div class="col-xs-4">
		<div class="panel panel-default">
			<div class="panel-body">
				<p><%= @username %></p>
			</div>
		</div>
	</div>
	<div class="col-xs-8">
		<% for @p in @posts %>
		<div class="panel panel-default">
			<div class="panel-body">
				<p><%= @p.content %></p>
			</div>
		</div>
		<% end %>
	</div>
</div>