<div class="row">
	<div class="col-xs-4">
		<div class="panel panel-default">
			<div class="panel-body">
				<p><%= @username %></p>
			</div>
		</div>
	</div>
	<div class="col-xs-8">
		<div class="panel panel-default">
			<div class="panel-body">
				<p>My Rankings</p>
			</div>
		</div>
	</div>
</div>