<div class="row">
	<div class="col-xs-3">
		<img src="/avatar.png" height="200px" width="200px"></img>
		<h3 style="font-weight: bold"><%= @username %></h3>
		<%= render '/components/follow_button', :user => User.find_by_username(params[:id]) %>
	</div>
	<div class="col-xs-9">
		<%= render '/components/post_form' %>
		<% for @p in @posts %>
		<div class="panel panel-default">
			<div class="panel-body">
				<p><%= @p.content %></p>
			</div>
		</div>
		<% end %>
	</div>
</div>