<div class="container is-fluid margins">
    <p class="header">But first ... Tell us how you would rank your jobs!</p>
    <article class="message is-info">
        <div class="message-body">
            <p>We'll find the ranking information that matters to you.</p>
            <br>
            <p>Go to your <%= link_to "Rankings", jobs_path %> page to add some.</p>
        </div>
    </article>
</div>