<div class="container is-fluid margins">
    <p class="header">Please provide your ranking information first</p>
    <p>Let others know how you plan to rank your jobs.</p>
    <br> 
    <p>Go to your <%= link_to "Rankings", jobs_path %> page to add some.</p>
</div>