<% if !user_signed_in? %>
	<div class="index">
		<div class="columns landingMargins">
			<div class="column is-12">
				<div class="desc has-text-centered-mobile">
					<p class="title is-1">Didn't get the offer?</p>
					<p class="subtitle">See how others are ranking the job.</p>
					<p class="subtitle">Scroll down to learn more.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="landingPages">
		<p class="text-center title">
			<br />
			<br />
			<br />
			Sign in with your UW Account
			<br />
			<br />
			<br />
			<%= link_to "Sign in", new_user_session_path, :class =>"button is-success is-rounded is-large" %>
			<br />
			<br />
			<br />
		</p>
	</div>
	<hr />
	<div class="landingPages">
		<p class="text-center title">
			Tell us how you would rank your jobs
			<br />
			<br />
			<img class="rounded-corners is-hidden-touch" src="/demo1.png" width="60%"/>
			<img class="rounded-corners is-hidden-desktop" src="/mobile_demo2.jpg"/>
		</p>
	</div>
	<hr />
	<div class="landingPages">
		<p class="text-center title">
			We'll tell you how other people ranked it
			<br />
			<br />
			<br />
			<img class="rounded-corners is-hidden-touch" src="/demo2.png" width="60%"/>
			<img class="rounded-corners is-hidden-desktop" src="/mobile_demo1.jpg"/>
		</p>
	</div>
<% else %>
	<script>
		document.location = "/home"
	</script>
<% end %>
