<% if !user_signed_in? %>
	<div class="index">
		<div class="has-text-centered slogan">
			<p class="title is-1">Didn't get the offer?</p>
			<p class="subtitle">See how others are ranking the job.</p>
			<p class="subtitle">Scroll down to learn more.</p>
		</div>
	</div>
	<div class="landingPages text-center" style="margin: 100px 0px 200px 0px">
		<p class="title">Sign in with your UW Account</p>
		<%= link_to "Sign in", new_user_session_path, :class =>"button is-success is-rounded is-large" %>
	</div>
	<hr />
	<div class="landingPages text-center">
		<p class="title">
			Tell us how you would rank your jobs
		</p>
		<br>
		<br>
		<img class="rounded-corners is-hidden-touch" src="/demo1.png" width="60%"/>
		<img class="rounded-corners is-hidden-desktop" src="/mobile_demo2.jpg"/>
	</div>
	<hr />
	<div class="landingPages text-center">
		<p class="title">
			We'll tell you how other people ranked it
		</p>
		<br>
		<br>
		<img class="rounded-corners is-hidden-touch" src="/demo2.png" width="60%"/>
		<img class="rounded-corners is-hidden-desktop" src="/mobile_demo1.png"/>
	</div>
<% else %>
	<script>
		document.location = "/home"
	</script>
<% end %>
