<div class="container is-fluid margins" style="max-width: 1200px">
	<br>
	<h1 class="title">
		Terms and Conditions
	</h1>
	<p>
		By signing up for an account and using our service, you agree to the following terms:
	</p>
	<br>
	<strong>General</strong>
	<ol style="margin-left: 30px">
		<li>You will not bully, intimidate, or harass other users</li>
		<li>You will not post content that is hate speech, threatening or incites violence</li>
		<li>You will not do anything that could impair the working performance or appearance of UW Ranks such as denial of service attacks</li>
		<li>You will not upload viruses or other malicious code</li>
		<li>You will not post anyone's identification documents or sensitive information</li>
		<li>You will not collect content on this site with automated means (such as bots)</li>
		<li>You will not facilitate or encourage any violations of this Statement or our policies</li>
		<li>We can remove your post and comments if we find that they violate these policies</li>
	</ol>
	<br>
	<strong>Account</strong>
	<ol style="margin-left: 30px">
		<li>You will not provide false information for personal gain</li>
		<li>You will keep your ranking information accurate and up to date</li>
		<li>You will not use the site for malicous reasons</li>
		<li>You will not solicit login information or access an account belonging to someone else.</li>
		<li>You will not create multiple accounts</li>
		<li>You will choose an appropriate username</li>
		<li>You will not share your password, let anyone else access your account, or do anything else that might jeopardize the security of your account.</li>
	</ol>
	<br>
	<p>
		Violation of any terms may lead to suspension, alteration, or deletion of your account.
	</p>
</div>