<div class="container is-fluid margins">
	<p class="header">
		Feedback
	</p>
	<% if flash[:notice] %>
		<div class="notification is-success">
			<%= flash[:notice] %>
		</div>
	<% end %>
	<%= form_with scope: :feedback, url: feedbacks_path, local: true do |f| %>
		<div class='field'>
			<div class="control">
				<%= f.text_area :body, class: "textarea", placeholder: "Tell us how we can improve" %>
			</div>
			<small class="faded">Your identity is kept anonymous</small>
		</div>
		<div class='field'>
			<div class="control">
				<%= f.submit 'Submit', class: 'button is-success is-rounded' %>
			</div>
		</div>
	<% end %>
</div>