<div class="post">
  <%= form_for(@newPosts, remote: true) do |f| %>
    <div class="field is-grouped">
      <div class="control is-expanded">
        <%= f.text_field :content, class: "input is-rounded", :placeholder => "Ask a question about this job", id: "posts_#{job_id}_form" %>
      </div>
      <%= f.hidden_field :job_id, :value => job_id %>
    </div>
  <% end %>
</div>
