<div class="post">
  <%= form_for(@newPosts, remote: true) do |f| %>
    <div class="field">
      <div class="control is-expanded">
        <%= f.text_field :content, class: "input", :placeholder => "Ask a question about this job", id: "posts_#{job_id}_form" %>
      </div>
    </div>
    <%= f.hidden_field :job_id, :value => job_id %>
    <div class="field">
      <div class="control">
        <%= f.submit "Post", class: "button is-info is-rounded" %>
      </div>
    </div>
  <% end %>
</div>
