/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bulma";
@import "pages";

ul {
  padding-left: 0px;
  list-style: none;
}

body {
	background-color: white;
}

a {
	text-decoration: bold;
}

td {
  padding-left: 10px;
  padding-right: 10px;
}

th {
  padding-left: 10px;
  padding-right: 10px;
}

.header {
  font-size: 150%;
  font-weight: bold;
  padding-bottom: 20px;
}

.error {
	text-align: middle;
	text-decoration: bold;
	color: red;
}

.navbar {
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 4px 6px -6px #999;

  padding-left: 22%;
	padding-right: 22%;
}

.rounded-corners {
	border-radius: 10%;
}

.password-reset-panel {
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	height: 150px;
	width: 300px;
}

.header-text {
	margin-top: 50px;
	text-align: center;
	font-weight: bold;
	font-size: 120%;
}

.jobPosition {
	margin-left: 30px;
}

.location {
	margin-left: 30px;
}

.margins {
	margin-top: 70px;
	padding-left: 20%;
	padding-right: 20%;
}

// Landing Page

.index {
	background-image: url("/bg.svg");
	background-size: cover;
	background-position: center;
	padding-top: 8%;
	padding-bottom: 8%;
}

.sign-up {
  margin-top: 30%;
  margin-left: auto;
  margin-right: auto;
	height: auto;
	max-width: 350px;
}

.sign-in-panel2 {
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	height: auto;
	width: 300px;
}

.desc {
  margin-top: 40%;
	margin-left: auto;
	margin-right: auto;
}

.landingPages {
	padding-top: 100px;
	padding-bottom: 100px;
	padding-left: 40px;
	padding-right: 40px;
}

.landingMargins {
	margin-left: 20%;
	margin-right: 20%;
}

.text-center {
	text-align: center;
}

.footer {
	color: white;
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: #E8EAEE;
}

.messages-list {
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
}


.message-sent {
  position: relative;
  background-color: #D9EDF7;
  border-color: #BCE8F1;
  margin: 5px 20px;
  padding: 10px;
  float: right;
}


.message-received {
  background-color: #F1F0F0;
  border-color: #EEEEEE;
  margin: 5px 20px;
  padding: 10px;
  float: left;
}
