/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700');
@import "bulma";
@import "font-awesome";

body,
button,
input,
select,
textarea {
	font-family: 'Ubuntu'
}

ul {
  padding-left: 0px;
  list-style: none;
}

body {
	background-color: white;
}

a {
	text-decoration: bold;
}

td {
  padding-left: 10px;
  padding-right: 10px;
}

th {
  padding-left: 10px;
  padding-right: 10px;
}

.alert {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	width: 300px
}

.header {
  font-size: 150%;
  font-weight: bold;
  padding-bottom: 20px;
}

.error {
	text-align: middle;
	text-decoration: bold;
	color: red;
}

.navbar {
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 4px 6px -6px #999;

  padding-left: 15%;
	padding-right: 15%;
}

.rounded-corners {
	border-radius: 15px;
}

.comment {
  margin-top: 20px;
  margin-left: 40px;
}

.box {
  -webkit-box-shadow: 0 0px 7px -2px #999;
  -moz-box-shadow: 0 0px 7px -2px #999;
  box-shadow: 0 0px 7px -2px #999;
}

.password-reset-panel {
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	height: auto;
	width: 300px;
}

.faded {
  opacity: 0.7;
}

.disclaimer {
	opacity: 0.8;
	font-size: 90%;
}

.header-text {
	margin-top: 50px;
	text-align: center;
	font-weight: bold;
	font-size: 120%;
}

.jobPosition {
	margin-left: 30px;
}

.location {
	margin-left: 30px;
}

.margins {
  margin-top: 70px;
  padding-left: 15%;
  padding-right: 15%;
}

// Mobile

@media (max-width: 480px) {
	.margins {
		margin-top: 70px;
		padding-left: 2%;
		padding-right: 2%;
	}
	.navbar {
		-webkit-box-shadow: 0 8px 6px -6px #999;
		-moz-box-shadow: 0 8px 6px -6px #999;
		box-shadow: 0 4px 6px -6px #999;
		padding-left: 0%;
		padding-right: 0%;
	}
	.desc {
  	padding-top: 60%;
	}
}

.min-box {
	min-width: 900px;
}

.index {
  background-image: url("/bg.svg");
  background-size: cover;
  background-position: center;
  padding-top: 10%;
  padding-bottom: 10%;
}

.sign-up {
  margin-top: 15%;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: auto;
}

.sign-in-panel2 {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: 300px;
}

.desc {
  margin-top: 35%;
  margin-left: auto;
  margin-right: auto;
}

.landingPages {
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 40px;
  padding-right: 40px;
}

.landingMargins {
  margin-left: 20%;
  margin-right: 20%;
}

.text-center {
  text-align: center;
}

.footer-padding {
  padding-top: 20px;
  padding-bottom: 20px;
}

.post-form {
  padding-top: 20px;
}

// Messages

.messages-list {
  max-height: 485px;
  overflow-y: auto;
  overflow-x: hidden;
}

.other{
  background: #eee;
  float: left;
  display:inline-block;
  clear: both;
  padding: 3px 10px 3px 10px;
  border-radius: 30px;
  margin-bottom: 4px;
  font-family: Helvetica, Arial, sans-serif;
  max-width: 700px;
  word-wrap: break-word;
}

.me{
  float: right;
  background: #0084ff;
  color: #fff;
  display:inline-block;
  clear: both;
  padding: 3px 10px 3px 10px;
  border-radius: 30px;
  margin-bottom: 4px;
  font-family: Helvetica, Arial, sans-serif;
  max-width: 700px;
  word-wrap: break-word;
}

.other + .me{
  border-bottom-right-radius: 5px;
  display:inline-block;
  clear: both;
  padding: 3px 10px 3px 10px;
  border-radius: 30px;
  margin-bottom: 4px;
  font-family: Helvetica, Arial, sans-serif;
  max-width: 700px;
  word-wrap: break-word;
}

.me + .me{
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  display:inline-block;
  clear: both;
  padding: 3px 10px 3px 10px;
  border-radius: 30px;
  margin-bottom: 4px;
  font-family: Helvetica, Arial, sans-serif;
  max-width: 700px;
  word-wrap: break-word;
}

.me:last-of-type {
  border-bottom-right-radius: 30px;
  display:inline-block;
  clear: both;
  padding: 3px 10px 3px 10px;
  border-radius: 30px;
  margin-bottom: 4px;
  font-family: Helvetica, Arial, sans-serif;
  max-width: 700px;
  word-wrap: break-word;
}
