/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700');
@import "bulma";
@import "font-awesome";

body,
button,
input,
select,
textarea {
	font-family: 'Ubuntu', sans-serif;
}

::-ms-clear {
  display: none;
}

::-webkit-search-decoration,
::-webkit-search-cancel-button,
::-webkit-search-results-button,
::-webkit-search-results-decoration { 
  display: none; 
}

ul {
  padding-left: 0px;
  list-style: none;
}

a {
	text-decoration: bold;
}

td {
  padding-left: 10px;
  padding-right: 10px;
}

th {
  padding-left: 10px;
  padding-right: 10px;
}

i {
  margin-right: 8px;
}

.min-width {
  min-width: 850px;
}

.username_padding {
  padding-left: 2px;
  padding-right: 2px;
}

.multiline-button {
  white-space: normal;
  text-align: left;
  height: 100%;
}

.comment_wrap {
	width: 300px;
	word-wrap: break-word;
}

.alert {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	width: 300px
}

.header {
  font-size: 150%;
  font-weight: bold;
  padding-bottom: 20px;
}

.error {
	text-align: middle;
	text-decoration: bold;
	color: red;
}

.navbar {
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 4px 6px -6px #999;

  padding-left: 15%;
	padding-right: 15%;
}

.user-dropdown {
  padding: 10px 10px 10px 20px;
  text-decoration: none;
  color: #4B4B67;
}

.user-dropdown:hover {
  background-color: #358BF2;
  color: white;
}

.search-icon-margin {
  margin-bottom: 2px;
}

.rounded-corners {
	border-radius: 15px;
}

.comment {
  margin-top: 20px;
  margin-left: 40px;
}

.box {
  -webkit-box-shadow: 0 0px 7px -2px #999;
  -moz-box-shadow: 0 0px 7px -2px #999;
  box-shadow: 0 0px 7px -2px #999;
}

.faded {
  opacity: 0.6;
}

.red {
  color: lightgrey;
}

.red:hover {
  color: red;
}

.header-text {
	margin-top: 50px;
	text-align: center;
	font-weight: bold;
	font-size: 120%;
}

.jobDesc {
  margin-top: -10px;
  margin-bottom: 10px;
}

.jobPosition {
	margin-left: 30px;
}

.location {
	margin-left: 30px;
}

.margins {
  margin-top: 70px;
  padding-left: 15%;
  padding-right: 15%;
}

.bottom-margin {
  margin-bottom: 10px;
}

.text-center {
  text-align: center;
}

.post-form {
  padding-top: 20px;
}

.ui-autocomplete {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000; 
  float: left;
  display: none;
  min-width: 160px;
  _width: 160px;
  padding: 4px 0;
  margin: 2px 0 0 0;
  list-style: none;
  border-radius: 15px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  *border-right-width: 2px;
  *border-bottom-width: 2px;

  .ui-menu-item-wrapper {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #555555;
    white-space: nowrap;

    &:hover, &.ui-state-focus, &.ui-state-active {
      color: #ffffff;
      text-decoration: none;
      background-color: #358BF2;
      border-radius: 0px;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      background-image: none;
    }
  }
}

.ui-helper-hidden-accessible { 
  display:none;
}

.footer-padding {
  padding-bottom: 25px;
}

// Mobile

@media (max-width: 480px) {
  .margins {
    margin-top: 70px;
    padding-left: 3%;
    padding-right: 3%;
  }
  .navbar {
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 4px 6px -6px #999;
    padding-left: 0%;
    padding-right: 0%;
  }
  .slogan {
    margin-top: 40%;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 40%;
  }
}


