.index {
  background-image: url("/bg.svg");
  background-size: cover;
  background-position: center;
  padding-top: 22%;
  padding-bottom: 42%;
}

.landingPages {
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 40px;
  padding-right: 40px;
}
