.index {
  background-image: url("/bg.svg");
  background-size: cover;
  background-position: center;
  padding-top: 10%;
  padding-bottom: 10%;
}

.sign-up {
  margin-top: 15%;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: auto;
}

.sign-in-panel2 {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: 300px;
}

.desc {
  margin-top: 35%;
  margin-left: auto;
  margin-right: auto;
}

.landingPages {
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 40px;
  padding-right: 40px;
}

.landingMargins {
  margin-left: 20%;
  margin-right: 20%;
}

.text-center {
  text-align: center;
}

.footer-padding {
  padding-top: 20px;
  padding-bottom: 20px;
}

.post-form {
  padding-top: 20px;
}