<p><strong>Hello!</strong></p>

<p>Someone has requested a link to change your password. You can do this through the link below.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>
  If you didn't request this, please ignore this email.
  <br>
  Your password won't change until you access the link above and create a new one.
</p>

<p>
  Have a nice day,
  <br>
  UWRanks Team.
</p>

<small>This email was sent by a user triggered event.</small>
<small>You can reply to this email if you have any further concerns</small>