<%= form_with(model: [ post, post.comments.build ], local: true) do |f| %>
  <article class="media">
    <div class="media-content">
      <div class="field has-addons">
        <%= f.hidden_field :user_id, :value => current_user.id %>
        <div class="control is-expanded">
          <%= f.text_field :body, autofocus: false,  placeholder: 'Add a Comment', class: 'input'%>
        </div>
        <div class="control">
          <%= f.submit "Reply", class: "button is-info"%>
        </div>
      </div>
    </div>
  </article>
<% end %>
