<nav class="navbar is-transparent is-fixed-top">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
    <img src="/logo.svg">
    </a>
    <div class="navbar-burger" data-target="navMenu">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <div id="navMenu" class="navbar-menu">
    <div class="navbar-start">
    </div>
    <div class="navbar-end">
      <div class="navbar-item">
        <p><%= link_to('Sign In', new_user_session_path)%> or <%= link_to('Sign Up', new_user_registration_path) %></p>
      </div>
    </div>
  </div>
</nav>
