<nav class="navbar is-transparent is-fixed-top">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="/index">
      <img src="/logo.png">
    </a>
      <div class="navbar-burger burger" data-target="navbarBurger">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <div id="navbarBurger" class="navbar-menu">
      <div class="navbar-start">
        <div class="navbar-item">
          <div class="field has-addons">
            <div class="control">
              <input class="input" type="text" placeholder="Search companies, jobs, profiles">
            </div>
            <div class="control">
              <a class="button is-info">
                <i class="fa fa-search" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="navbar-end">
        <a class="navbar-item" href="/home">Home</a>
        <a class="navbar-item" href="/explore">Explore</a>
        <a class="navbar-item" href="#">Notifications</a>
        <div class="navbar-item has-dropdown is-hoverable">
          <div class="navbar-link">
            My Profile
          </div>
          <div class="navbar-dropdown is-right">
            <div class="navbar-item">
              <a href="/user/<%= current_user.username %>">Profile</a>
            </div>
            <div class="navbar-item">
              <a href="#">Help</a>
            </div>
            <div class="navbar-item">
              <%= link_to('Edit Profile', edit_user_registration_path) %>
            </div>
            <hr class="navbar-divider">
            <div class="navbar-item">
              <%= link_to('Log Out', destroy_user_session_path, :method => :delete) %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>