<nav class="navbar is-transparent is-fixed-top">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
      <img src="/logo.png">
    </a>
      <div class="navbar-burger burger" data-target="navbarBurger">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <div id="navbarBurger" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="#">Explore</a>
        <a class="navbar-item" href="#">About</a>
      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <p>
            <%= link_to('Sign In', new_user_session_path)%> or <%= link_to('Sign Up', new_user_registration_path) %>
          </p>
        </div>
      </div>
    </div>
  </div>
</nav>
